@lightblue: lightskyblue;
h1 {
  font-family: Gill Sans Extrabold, sans-serif;
  color: @lightblue;
}

.App {
  text-align: center;
}

button {
  background-color: @lightblue;
  border:4px solid @lightblue;
  border-radius: 10px;
  display: inline;
  h4 {
   color: black;
    margin: 0;
    padding: 0;
  }
  &:hover {
     background-color:white;
  }
  &:focus {
    outline: none;
  }
  transition: 1s;
}

table {
  display: inline-block;
  border: 1px solid @lightblue;
  border-radius: 5px;
  tr, td{
    border: 1px solid @lightblue;
    text-align: left;
    border-radius: 5px;
    padding: 30px;
  }
  tr:nth-child(2) {
    background: @lightblue;
  }
}

#weather {
  h1 {
    display: inline;
    margin: 0 10px;
    padding: 0;
    height: 100%;
  }
  img {
    display: inline;
    margin: 0 10px;
    padding: 0;
    vertical-align: text-bottom;
  }
  @media screen and (max-width: 48em) {
    width: 100%;
    display: block;
  }
  width: 30%;
  float: left;
}

#forecast {
  overflow: auto;
  display: inline-block;
  width: 70%;
  float: left;
  @media screen and (max-width: 48em) {
    display: block;
    width: 100%;
  }
}

.icon {
  opacity: 1;
  animation: weather_icon infinite 2s linear;
}

@keyframes weather_icon {
    from {opacity: 1;}
    to {opacity: 0.3;}
}

.input {
  width: 80%;
  display: inline-block;
  margin: 0 10px;
  padding: 0;
}